body{
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(176, 180, 184);
}
.primeiro_card_container{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    justify-content: center;
    display: flex;
    height: 300px;
    width: 925px;
    padding-bottom: 200px;
}
.foto_capa{
    padding-top: 10px;
}
.foto_capa img{
    border-radius: 8px;

}
.foto_perfil{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 75px;
    left: 25px;
}
.foto_perfil img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}